@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", "Yekan Bakh", ui-sans-serif, system-ui;
  
  --color-base-100: #FFFFFF;
  --color-base-200: #F7F8FA;
  --color-base-300: #F5F5F5;
  --color-base-700: #6B6B6B;
  --color-base-900: #1A1A1A;

  --color-primary-200: #E8F1F4;
  --color-primary-100: #F9FBFB;
  --color-primary-800: #01B3C8;
  --color-primary-900: #019AAE;
}

html {
  direction: rtl;
  font-family: var(--font-sans);
  background-color: var(--color-base-200);
  color: var(--color-base-900);
}

body {
  @apply antialiased;
  background-color: var(--color-base-200);
}

.sidebar-bg {
  background: linear-gradient(
    to bottom,
    var(--color-primary-200),
    var(--color-primary-100)
  );
}

.btn-primary {
  background-color: var(--color-primary-800);
  @apply text-white rounded-xl px-4 py-2 font-medium;
}

.btn-primary:hover {
  background-color: var(--color-primary-900);
}

.text-heading {
  @apply text-xl font-medium;
}

.text-btn {
  @apply text-sm font-medium;
}

.text-btn-bold {
  @apply text-sm font-bold;
}

.text-card-title {
  @apply text-lg font-semibold;
}

.text-card-caption {
  @apply text-sm font-normal;
} 